body {
  font-family: "Inter Tight", sans-serif;
}
.container {
  width: 50%; /* or any width you prefer */
  margin: 0 auto;
}
ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding-left: 0;
  padding: 15px;
}
li {
  margin: 10px;
  font-size: 22px;
}
.delete-btn {
  border: none;
  font-size: 16px;
  border-radius: 6px;
  padding: 0 6px;
}
