body {
  font-family: "Inter Tight", sans-serif;
  background-color: #cad2c5;
  user-select: none;
}
.container {
  width: 60%; /* or any width you prefer */
  margin: 0 auto;
  flex-wrap: wrap;
  text-align: center;
}
h1 {
  user-select: none;
}
ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding-left: 0;
  padding: 15px;
  text-align: center;
  align-items: center;
  align-content: center;
}
li {
  margin: 10px;
  font-size: 22px;
  user-select: none;
  text-align: center;
}
.delete-btn {
  border: 3px solid #52796f;
  font-size: 16px;
  border-radius: 16px;
  padding: 6px 9px;
  background-color: #2f3e46;
  color: #cad2c5;
  cursor: pointer;
}
#input-element,
#add-item,
#clear-btn {
  padding: 14px 20px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}
#add-item,
#clear-btn {
  background-color: #2f3e46;
  color: #cad2c5;
  font-weight: 600;
}
#input-element {
  border: 3px solid #2f3e46;
  background-color: #cad2c5;
}
::placeholder {
  color: #2f3e46;
  font-weight: 600;
}
*:focus {
  outline: none;
}
